a{
  color: #5b5b5b;
}
a:hover{
  color: rgba(0, 0, 0, 0.75);
}

.aboutText{
  text-align: justify;
}

body{
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  font-family: Montserrat;
  color: white;
  padding-top: 5%;
  position: relative;
}

.bodyEven{
  background-color: #f9f9f9;
  width: 100vw;
  padding: 50px;
  padding-left: 15%;
  padding-right: 15%
}

.bodyOdd{
  background-color: #ffffff;
  width: 100vw;
  padding: 50px;
  padding-left: 15%;
  padding-right: 15%
}

.brandIcon{
  margin-bottom: 10px;
}

.footer{
  background-color: #4e4e4e;
  color: white;
  text-align: center;
  padding: 0.5%;
}

h1{
  font-weight:400;
  font-size: 2.5em;
  color: black;
  text-align: center;
}

h3{
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  font-size: 1.5em;
}

hr{
  width: 50%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

html{
  max-width: 100%;
  overflow-x: hidden;
}

.img-fluid{
opacity: 1;
display: block;
transition: .3s ease;
backface-visibility: hidden;
cursor: pointer;
}

.lastRow{
  margin-bottom: 20px;
}

.menuBorder{
  padding: 0.5%;
  background-color: black;
}

.middle {
  font-weight: 1.5em;
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  text-transform: lowercase;
}

.navbar-brand{
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-dark{
  background-color: #4e4e4e;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
}

#navbarNavAltMarkup .active{
  color: rgba(255, 255, 255, 0.75);
}

p{
  color: #5b5b5b;
}

.pic{
  padding: 0.5%;
}

.container .pic{
  cursor: default;
}


.pic:hover .img-fluid {
  opacity: 0.5;
}

.pic:hover .middle {
  opacity: 1;
}

.seasonal{
  background-color: #f8f8f8;
  padding: 6%;
}

.seasonal p{
  text-transform: lowercase;
}

.seasonal h3{
  padding-bottom: 1%;
}
